<footer class="site-footer @(ViewBag.Page == "essay" ? "site-footer--essay" : "")">
    © 2026 Hello_Eliza | @ViewBag.Quote | [ <a href="https://github.com/sooperD00/Hello_Eliza">View Source</a> ]
</footer>