@model Hello_Eliza.Models.AsciiInputModel


<!-- Terminal -->
<div class="terminal">
    <h2>Hello_Eliza</h2>
    <p class="lead text-muted zork-intro">
        <!-- prompt -->
        <em>West of Freeside</em>
        <br>
        You are standing in an open namespace west of a white villa,
        <br>
        with a boarded front door. There is a small memory partition here.
        <br>
        <br>
        >_
    </p>

    <!-- User Input -->
    <form asp-action="Input" method="post">
        <input asp-for="UserInput" placeholder="Enter text here..." />
        <span asp-validation-for="UserInput" class="text-danger"></span>
        <button type="submit" class="btn btn-primary mt-2">Go</button>
    </form>
</div>


<!-- Zork Output -->
<div class="zork-output" id="zork-output">
    @if (ViewData["AsciiOutput"] != null)
    {
        <pre>@ViewData["AsciiOutput"]</pre>
    }
</div>