@model Hello_Eliza.Models.AsciiInputModel
@{ ViewData["FooterType"] = "terminal"; }

<!-- Terminal -->
<div class="terminal">
    <h2>Hello_Eliza (c) 1966, 1981, 1984, 1993, 2026</h2>
    <p class="lead text-muted zork-intro">
        <!-- prompt -->
        <em>West of Freeside</em>
        <br>
        You are standing in an open namespace west of a white villa,
        <br>
        with a boarded front door. There is a small memory partition here.
        <br>
        <br>
        <!-- >_  -->
    </p>

    <!-- User Input -->
    <form asp-action="Input" method="post" class="terminal-input">
        <span class="prompt">&gt;_</span>
        <input asp-for="UserInput" placeholder="" autofocus autocomplete="off"/>
    </form>
</div>


<!-- Zork Output -->
<div class="zork-output" id="zork-output">
    @if (ViewData["AsciiOutput"] != null)
    {
        <pre>@ViewData["AsciiOutput"]</pre>
    }
</div>